@font-face {
  font-family: 'Poppins';
  src: local('Poppins Regular'), local('Poppins-Regular'),
  url(/assets/typo/Poppins-Regular.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Black'), local('Poppins-Black'),
  url(/assets/typo/Poppins-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Thin'), local('Poppins-Thin'),
  url(/assets/typo/Poppins-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}